pyyaml==6.0.1
chromadb==0.6.3
python-dotenv==1.0.1
tqdm==4.66.1
tiktoken==0.9.0
numpy==1.26.4
transformers==4.39.3
# Replace the torch CPU-only version with a CUDA-enabled version
# torch==2.2.1
sentence-transformers==2.3.1 
